body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #5a80ff, #6de2fc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background: white;
    padding: 40px 60px;
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.quiz-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 12px;
    width: 90vw;
    max-width: 1100px;
    align-items: stretch;
}

.quiz-item {
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: left;
    min-height: 130px;
    display: flex;
    flex-direction: column;
}



form { padding-bottom: 140px; }


.quiz-item h1 { font-size: 18px; margin-bottom: 6px; padding-bottom: 15px}
.quiz-item label { font-size: 15px; }


@media (max-width: 700px) {
    .quiz-grid { grid-template-columns: 1fr; }
    .quiz-item:nth-child(even),
    .quiz-item:nth-child(odd) { align-self: stretch; }
}



h1 {
    margin-bottom: 10px;
    color: #2b2b2b;
}

p {
    margin-bottom: 30px;
    font-size: 18px;
    color: #444;
}

.start-btn {
    display: inline-block;
    text-decoration: none;
    background: #4e6bff;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

.start-btn:hover {
    background: #3d56d1;
    transform: scale(1.05);
}

button {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: #4e6bff;
    color: white;
    border: none;
    padding: 14px 35px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover {
    background: #3d56d1;
    transform: translateX(-50%) scale(1.05);
}

button:active {
    transform: scale(0.98);
}


